.range-slider-thumb-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
}
/* Special styling for WebKit/Blink */
.range-slider-thumb-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid  #ff0055;
  height: 2rem;
  width: 2rem;
  border-radius: 99999px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -0.7rem; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.range-slider-thumb-custom::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  background:  #ff0055;
  border-radius: 1rem;
}

.mt0{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
