.HomeMap {
  height: 85% ;
  width: 46% ;
  display: block;
  left: auto ;
  position: fixed;

  right: 1rem ;
  margin-top: 5rem;
  margin-bottom: 20rem;
  top: 0px;
  bottom: 0px;
}

.map {
  width: 100%;
  height: 100%;
}


.navbar-search-front .card {
  width: 100%;
}

.loadCenter{
  padding: 50%;
}

.navbar-list-element {
  margin: 1rem;
  width: 49vw;
  padding: 1rem;
  display: solid;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-search-front {
  width: 50%;
  height: 10rem;
  right: auto !important;
  left: 1rem !important;

  margin: 2rem;

  justify-content: space-between;
}

.element-list-home {
  
  height: 10rem;
  right: auto !important;
  left: 2rem !important;

  justify-content: space-between;

  margin-top: 5rem;
  margin-right: 45%;
  padding: 1rem;
}

p h1 h2 h3 h4 h5 h6::first-letter {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .HomeMap {
    margin: 0;
    display: none;
  }
  
  .navbar-search-front {
    width: 90%;
    height: 10rem;
    left: auto;
    right: auto;
  
    margin: 2rem;
  
    justify-content: space-between;
  }

  .search-container{
    width: auto;
    height: auto;
  }
  .element-list-home{

    margin-right: 0%;
    width: auto;
  }
}